body {
    background: #000000;
    stroke: #2ba4e7;
}

.node>polygon {
}

.node>.building {
    stroke: #000000;
    fill: #2ba4e7;
}

.node>.building-flash {
    fill: #2ba4e7;
}

.tooltip>polygon {
}

.tooltip>text {
    font-size: 24px;
    font-weight: 200;
    font-family: "Titillium Web","Helvetica Neue",Helvetica,Arial,sans-serif;
}