body {
    background: #000000;
}

.orbit {
    stroke: #0000ff;
}

.node>polygon {
    stroke: white;
    fill: black;
}

.node>.tooltip {
    stroke: white;
}

.node>.building {
    stroke: white;
    fill: red;
}

.node>text {
    stroke: white;
}