body {
    background-image:url('back.jpg');
    background-size:1024px 768px;
    stroke: #2ba4e7;
    stroke-width:3px;
}

.cursor {
    stroke: none;
    fill:white;
    fill-opacity:50%;
}

.node>polygon {
}

.node>.building {
    fill:none;
}

.node>.building-flash {
    stroke: #000000;
    fill: #2ba4e7;
}

.not-selected {
    stroke: #2ba4e7;
}

.selected {
    stroke: #ff0000;
}


.tooltip>polygon {
    stroke:none;
    fill:none;
}

.tooltip>text {
    stroke:#2ba4e7;
    font-size: 24px;
    font-weight: 200;
    font-family: "Titillium Web","Helvetica Neue",Helvetica,Arial,sans-serif;
}